[DEFAULT]
mailaddress = {{ .email }}
company = {{ .company }}
copyright = {{ .copyright }}
license = {{ .license }}
user = {{ .username }}
username = {{ .name }}
mode = 0644


[bash]
description = Bash script
mode = 0755

[bashlib]
extension = .sh
mode = 0644

[go]
extension = .go
mode = 0644

[playbook]
extension = .yml
mode = 0644

[pythonlib]
extension = .py
mode = 0644

[python]
mode = 0755
