[user]
mailaddress = {{ .email }}
company     = {{ .company }}
copyright   = {{ .copyright }}
license     = {{ .license }}
user        = {{ .username }}
username    = {{ .name }}

[bash]
description = Bash script
